$color-primary: blue;
$color-primary-light: rgb(149, 170, 228);
$color-primary-dark: rgb(27, 39, 206);
$color-primary-intense-dark: #0e1f4e;
$color-body-color: #7777;
$color-white: #ffffff;
$color-btn-pseudo: rgb(211, 213, 226);

$color-h2: darkgray;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #999;
$color-grey-dark-2: #333;
$color-black: #000000; 
 


$color-label-shiny:#a916c3;  
$color-form-heading:linear-gradient(to right, #c31bce, #1b27ce);

$default-font-size: 1.6rem;
$section-features-heading-tertiarys: 1.25rem !important;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light : #2998ff;
$color-tertiary-dark: #5643fa;

$color-quadraint-light : #4dff29;
$color-quadraint-dark: #248d0f;

//Grid:-
$grid-width: 110rem;
$grid-width-phone: 45rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 5rem;
$gutter-vertical-mini: 3.5rem;
/* $gutter-horizontal:5%; */
$gutter-horizontal: 6rem;

$color-card-btnBk-color:aliceblue;
$form-heading-medium:2.5rem;
 